<form role="form" #form="ngForm">
  <div class="form-group mb-3">
    <div class="text-center text-muted mb-4">
      <small>Crie sua conta!</small>
    </div>
    <div class="input-group input-group-alternative">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="ni ni-single-02"></i></span>
      </div>
      <input class="form-control is-invalid" placeholder="Informa seu email" type="text" name="login"
        required #login>
    </div>    
  </div>
  <div class="form-group mb-3">
    <div class="input-group input-group-alternative">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
      </div>
      <input class="form-control" placeholder="Informe a senha" name="senha" type="password"
      [(ngModel)]="loginViewModel.senha" required #senha>
    </div>    
  </div>
  <div class="form-group">
    <div class="input-group input-group-alternative">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
      </div>
      <input class="form-control" placeholder="Confirme a senha" name="senha" type="password"
      [(ngModel)]="loginViewModel.confirmeSenha" required #senha>
    </div>    
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-success my-4"  [disabled]="form.invalid">Cadastrar</button>
  </div>
</form>