<div class="header cor-fundo pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body card-acao">
        <!-- Card stats -->
        <div class="row">
          <div class="col-xl-6 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">                      
                    <h5 class="card-title text-uppercase text-center mb-0">Digite uma ação</h5>                    
                    <div class="input-group">                      
                        <div class="col-3">
                          <div class="text-center text-muted mb-0 mt-3">
                            <small>Código da ação</small>
                          </div>
                        </div>
                        <div class="col-3">
                          <input class="form-control mb-0 mt-3">
                        </div>
                        <div class="col-6 mb-0 mt-3">
                            <div class="text-center">
                                <button type="button" class="btn btn-success">Buscar</button>
                            </div>                      
                        </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col">
        <div class="card shadow border-0">
          <div id="map-canvas" class="map-canvas" data-lat="40.748817" data-lng="-73.985428" style="height: 600px;"></div>
        </div>
      </div>
    </div>
  </div>
  